<%- include('header'); -%>
    <div class="box" id="heading">
        <h1><%=kday%></h1>
    </div>
    <div class="box">
        
            <% for(var i=0; i < simp.length;i++){ %>
            <div class="item">
            <input type="checkbox">
            <p><%=simp[i] %></p>
            </div>
            <% } %>
        
        <form class="item" action="/" method="post">
            <input type="text" name="sim" placeholder="New Item" autocomplete="off">
            <button type="Submit" name="button" value = <%=kday%> >+</button>
        </form>
    </div>
    <%- include('footer'); -%>
    <!-- </div> -->
